<footer class="footer">
  <div class="footer-summary">
    <h4>FoodCo</h4>
    <p>
      FoodCo is a platform where users can view restaurants and review them.
    </p>
  </div>
  <hr />
  <div class="footer-copyright">
    <span>&copy; FoodCo 2021</span>
  </div>
</footer>
